body {
   background-color: rgb(173, 193, 252);
   font-family: Arial, Helvetica, sans-serif;
}
p {
   margin: 40px 1em;
}
#primeiro {
   background-color: #f5f5f5;
   padding: 20px;
}

#segundo {
   background-color: #f0cce2;
   padding: 20px;
}