* {
  padding: 0;
  margin: 15px;
}

h1 {
  color: hotpink;
}

#menu {
  box-sizing: border-box;
  background-color: cornflowerblue;
  width: 150px;
  height: 150px;
  padding: 20px;
}

.p-estilizado {
  font-size: 20px;
  color: rgb(12, 122, 139);
}

.texto-negrito {
  font-weight: bold;
}

.texto-negrito.colorido {
  color: blueviolet;
}

.texto-negrito.com-background {
  background-color: aquamarine;
}

.paragrafo,span {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: crimson;
}

/* com ou sem o seletor > vai funcionar pois e um elemento filho */
.div > p {
  color: rgb(5, 199, 5);
  font-weight: bold;
}

.h2 + p {
  color: rgb(255, 0, 0);
}

a[target="_blank"] {
  color: springgreen;
}

