.container {
   height: 100vh;
   background: url("/10-js-intermediario/src/image/flowes-img1.png") no-repeat center;
   display: flex;
   align-items: center;
   padding-left: 11.25em;

}

.esquerdaSeta{
   right: 5%;
}

.informacoes {
   background-color: #fff;
   border-radius: 10px;
   width: 620px;
   height: 700px;
   padding: 65px 60px 65px 60px;
   position: relative;
}

.tituloPrincipal {
   font-family: var(--font);
   font-size: 50px;
   font-weight: 400;
   padding-bottom: 80px;
}

.descricao {
   font-family: var(--font);
   font-size: 25px;
   font-weight: 300;
   line-height: 35px;
   padding-bottom: 50px;
}

a {
   color: var(--primeiraCor);
   font-family: var(--font);
   font-size: 30px;
   font-weight: 700;
}

