.main {
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   position: relative;
}

.esquerdaSeta {
   position: absolute;
   left: 70px;
   width: 49px;
   height: 78px;
   background-color: transparent;
}

.direitaSeta {
   position: absolute;
   right: 70px;
   width: 49px;
   height: 78px;
   background-color: transparent;
}

.cointainer{
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   padding-left: 11.25em;
}

.primeiro {
   background: url("/10-js-intermediario/src/image/flowes-img1.png") no-repeat center;
   background-size: cover;
}

.segundo {
   background: url("/10-js-intermediario/src/image/flowes-img2.png") no-repeat center;
   background-size: cover;
}

.terceiro {
   background: url("/10-js-intermediario/src/image/motainha-img3.png") no-repeat center;
   background-size: cover;
}

.quarta {
   background: url("/10-js-intermediario/src/image/montainha-img4.png") no-repeat center;
   background-size: cover;
}

.informacoes {
   background-color: #fff;
   border-radius: 10px;
   width: 620px;
   height: 700px;
   padding: 65px 60px 65px 60px;
   align-self: center;
}

.tituloPrincipal {
   font-family: var(--font);
   font-size: 50px;
   font-weight: 400;
   padding-bottom: 80px;
}

.descricao {
   font-family: var(--font);
   font-size: 25px;
   font-weight: 300;
   line-height: 35px;
   padding-bottom: 50px;
}

.link {
   font-family: var(--font);
   font-size: 30px;
   font-weight: 700;
}

.none{
   display: none;
} 



.estilo1{
   color: var(--primeiraCor);
}

.estilo2{
   color: var(--segundaCor);
}

.estilo3{
   color: var(--terceiraCor);
}

.estilo4{
   color: var(--quartaCor);
}